@font-face {
    font-family: NotoSans;
    src: url(NotoSansKR-Black.otf);
}


/* Top Bar */
.top-bar{
    padding: 5px 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #36454f ;
    font-family: notosans;
    color: white;
}

*{
    margin: 0;
    padding: 0;
}
.navlink:hover{
    text-decoration: none;
    color: #A9A9A9;
}
.navlink {
    position: absolute;
    left: 0;
    padding: 15px;
    text-decoration: none;
    color: white;
}

.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid yellow;
    transition: 0.2s ease-out;
}

header input:focus {
    background-color: beige;
}


/* text box */

main {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.forecastdisplay {
    display: flex;
    justify-content: space-evenly;
}

.location .city {
    color: tan;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px; 
}

.location .city1 {
    color: tan;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px; 
}

.location .city2 {
    color: tan;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px; 
}

.location .city3 {
    color: tan;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px; 
}

.location .city4 {
    color: tan;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px; 
}

.location .date {
    color: tan;
    font-size: 16px; 
}

.location .date1 {
    color: tan;
    font-size: 16px; 
}

.location .date2 {
    color: tan;
    font-size: 16px; 
}

.location .date3 {
    color: tan;
    font-size: 16px; 
}

.location .date4 {
    color: tan;
    font-size: 16px; 
}

.current .temp {
    color: tan;
    font-size: 100px; 
    margin: 30px 0px;
    text-shadow: 1px 2px rgba(0,0,0,0.6);
}

.current .temp1 {
    color: tan;
    font-size: 100px; 
    margin: 30px 0px;
    text-shadow: 1px 2px rgba(0,0,0,0.6);
}

.current .temp2 {
    color: tan;
    font-size: 100px; 
    margin: 30px 0px;
    text-shadow: 1px 2px rgba(0,0,0,0.6);
}

.current .temp3 {
    color: tan;
    font-size: 100px; 
    margin: 30px 0px;
    text-shadow: 1px 2px rgba(0,0,0,0.6);
}

.current .temp4 {
    color: tan;
    font-size: 100px; 
    margin: 30px 0px;
    text-shadow: 1px 2px rgba(0,0,0,0.6);
}

.current .temp span {
    font-weight: 500;
}

.current .temp1 span {
    font-weight: 500;
}

.current .temp2 span {
    font-weight: 500;
}

.current .temp3 span {
    font-weight: 500;
}

.current .temp4 span {
    font-weight: 500;
}

.current .icon {
    margin: 5px 0px;
}

.current .icon1 {
    margin: 5px 0px;
}

.current .icon2 {
    margin: 5px 0px;
}

.current .icon3 {
    margin: 5px 0px;
}

.current .icon4 {
    margin: 5px 0px;
}

.current .weather {
    color: tan;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0,0,0,0.4); 
}

.current .weather1 {
    color: tan;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0,0,0,0.4); 
}
.current .weather2 {
    color: tan;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0,0,0,0.4); 
}

.current .weather3 {
    color: tan;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0,0,0,0.4); 
}
.current .weather4 {
    color: tan;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0,0,0,0.4); 
}

.current .hi-low {
    color: tan;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 2px rgba(0,0,0,0.4);
}

.current .hi-low1 {
    color: tan;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 2px rgba(0,0,0,0.4);
}

.current .hi-low2 {
    color: tan;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 2px rgba(0,0,0,0.4);
}

.current .hi-low3 {
    color: tan;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 2px rgba(0,0,0,0.4);
}

.current .hi-low4 {
    color: tan;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 2px rgba(0,0,0,0.4);
}


/* Footer */

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:white;
    background-color:#36454f ;
}

.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}

.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid white;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}

.footer-basic .social > a:hover {
    opacity:0.9;
}

.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color: white;
    margin-bottom:0;
}

