@font-face {
    font-family: NotoSans;
    src: url(NotoSansKR-Black.otf);
}


/* Top Bar */
.top-bar{
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #87CEEB;
    font-family: notosans;
    color: white;
}

*{
    margin: 0;
    padding: 0;
}

.body{
    height: 100vh;
}

/* Search Bar */
.search-bar{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.input {
    padding: 20px;
    width: 80px;
    height: 80px;
    background: none;
    border: 4px solid #87CEEB;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #87CEEB;
    outline: none;
    transition: .5s;
}
.search-bar:hover input{
    width: 80vw;
    background: white;
    border-radius: 40px;
}
#icon{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #87CEEB;
    transition: .2s;
}
.search-bar:hover i{
    opacity: 0;
    z-index: -1;
}

/* Footer */

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:white;
    background-color:#87CEEB;
}
  
.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}
  
.footer-basic li {
    padding:0 10px;
}
  
.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}
  
.footer-basic ul a:hover {
    opacity:1;
}
  
.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}
  
.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid white;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}
  
.footer-basic .social > a:hover {
    opacity:0.9;
}
  
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color: white;
    margin-bottom:0;
}




